* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-size: 17px;
    color: black;
    line-height: 1.6;
}

.baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
  }

.merienda-title {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

ul li {
    padding: 0 10px;
}

#showcase {
    background-image: url('../assets/images/bread.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase h1 {
    font-size: 50px;
    line-height: 1.2;
    color: #fff;
}

#showcase p {
    font-size: 30px;
    font-style: italic;
    color: #fff;
}

#showcase h2 {
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
    color: #fff;
}

#showcase .button {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border: #fff 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#showcase .button:hover {
    background-color: #fff;
    color: black;
}

section {
    background-color: #e6c9a2;
    color: #622712;
    padding: 15px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section h2 {
    font-size: 26px;
    font-weight: 800;
}

